body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.myapp{
    background-color: grey;
}
.navbar{
  background-color:#343A40;
  color:white;
  text-align: left;
  font-size: 300%;
  border:10px solid whitesmoke;
}



.Myform{
  padding: 10px 20px 30px 10px;
}

.boxed{
  color: #0056b3;
  border: 1px solid black ;
  padding: 10px 20px 30px 10px;
  background-color: #E9ECEF;
}
.outerbox{
  padding: 0px 20px 30px 10px;
  
}
.author{
  color:black;
  font-size: x-small;
}

.votebutton{
  color:black;
}

.title{
  font-size: xx-large;
}

.Login{
  background-color: #0069d9;
  float:right;
  height: 38px;
  width: 125px;
  font-size:25px;
  line-height:24px;
  margin-right: 20px;
  margin-top:10px;
}

.Header{
  background-color: #E9ECEF;
  font-size:16px;
  height:140 px;
  width:1351px;
  margin: 0px 0px 15px 0px;
  border-bottom: 1px solid #CED4DA;
  padding:32px 32px 32px 32px; 
  text-align: center;
  font-size: 70px;
}

.login-box{
  padding-right:575px;
  padding-left:575px;
}

.navbar-brand{
  color:white;
  font-size:20px;
  line-height:30px;
}

.createbutton{
  background-color: #0069d9;
  height: 38px;
  width: 250px;
  font-size:25px;
  line-height:24px;
  float:left;
}

.post{
  padding:10px 20px 30px 10px;
}

/* for the home link start */
a {
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}
/* end */